
@font-face
{
    font-family: 'latoregular';
    src: url('../Fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../Fonts/Lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-fluid
{
  margin: 0px;
  padding: 0px;
}

.background_Class
{
  padding: 8% 0px;
  background: url("../Imgs/Background/Background_0.png") center no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Full_Screen, h1, p
{
  color: rgb(256, 256, 256);
}

.Full_Screen
{
  background: transparent;
  margin: auto;
}

.All_Btns
{
    position: relative;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn
{
  margin: 1% 2%;
  padding: 2% 10%;
  background: rgb(256, 256, 256);
  border: 1px solid rgb(256, 256, 256);
  color: rgb(0, 0, 0);
}

.Bar_0
{
    background: rgb(256, 256, 256);
    width: 80%;
}

.Logo_SocialMedia
{
  margin: 0px 10%;
}

.Section_Content_1
{
  padding: 3% 0px;
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
}

.img-fluid
{
  width: 70% !important;
  height: auto !important;
}

.Bar_1
{
  width: 40%;
  border-width: 3px;
  background: rgb(231, 231, 231);
}

.background_Class_2
{
  padding: 5% 0px;
  background: url("../Imgs/Background/Background_1.jpg") bottom no-repeat;
}

.Footer
{
  padding: 3% 0px;
}

.Footer li
{
  margin: 0px 1%;
}

body
{
  font-family: "latoregular", "sans-serif";
  background: rgb(34, 34, 34);
}
